{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card border-warning">
      <div class="card-header bg-warning">
        Edit ID: <b>{{ row.id }}</b> (DB: {% if current_db == 'dba' %}DB-A{%
        else %}DB-B{% endif %})
      </div>
      <div class="card-body">
        <form action="/update/save" method="POST">
          <input type="hidden" name="ms" value="{{ ms }}" />
          <input type="hidden" name="id" value="{{ row.id }}" />
          <input type="hidden" name="db_name" value="{{ current_db }}" />

          <div class="form-group">
            <label>Car Name</label
            ><input
              type="text"
              name="carname"
              value="{{ row.carname }}"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Car Brand</label
            ><input
              type="text"
              name="carbrand"
              value="{{ row.carbrand }}"
              class="form-control"
              required
            />
          </div>
          <div class="form-row">
            <div class="col">
              <label>Model</label
              ><input
                type="text"
                name="carmodel"
                value="{{ row.carmodel }}"
                class="form-control"
                required
              />
            </div>
            <div class="col">
              <label>Price</label
              ><input
                type="text"
                name="carprice"
                value="{{ row.carprice }}"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label
              >Description <small class="text-muted">(Opsional)</small></label
            ><textarea name="description" class="form-control">
{{ row.description }}</textarea
            >
          </div>

          <button type="submit" class="btn btn-warning btn-block">
            Update
          </button>
          <a
            href="/update/{{ ms }}?db_name={{ current_db }}"
            class="btn btn-secondary btn-block"
            >Batal</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
